<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='index.css')}}">
</head>
<body>
    <form class="p-3 text-center" action="/", method="post" enctype="multipart/form-data">
        <input class="form-control" type="file" name="imagefile">
        <input class="btn btn-primary mt-3" type="submit" value="Enhance Image">
    </form>
    
    {% if output %}
        <img src={{output}}>
    {% endif %}
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='index.css')}}">
</head>
<body>
    <form class="p-3 text-center" action="/", method="post" enctype="multipart/form-data">
        <label class="custom-input" for="inputImage"> Input Image
        </label>
        <input class="form-control" id="inputImage" type="file" name="imagefile">
        <input class="btn btn-primary mt-3" type="submit" value="Enhance Image">
    </form>
    
    {% if output %}
        <img src={{output}}>
    {% endif %}
</body>
</html>